<div ng-repeat="map in maps">

    <div class="map-buttons">
        <button class="btn btn-{{map.class}}" ng-click="initAnsyn(map.id)">Init {{map.id}}</button>
        <div ng-show="map.api">
            <button class="btn btn-{{map.class}}" ng-click="loadOverlay(map.id)">load overlay</button>
            <button class="btn btn-{{map.class}}" ng-click="setOverlays(map.id)">set overlays</button>
            <button class="btn btn-{{map.class}}" ng-click="changeMapLayout(map.id)">change map layout</button>
            <button class="btn btn-{{map.class}}" ng-click="setMapPosition(map.id)">set map position </button>
            <button class="btn btn-{{map.class}}" ng-click="setMouseShadow(map.id)">set mouse shadow from random points</button>
            <button class="btn btn-{{map.class}}" ng-click="getMouseShadow(map.id)">get mouse shadow</button>
            <button class="btn btn-{{map.class}}" ng-click="getMapPosition(map.id)">get map position</button>
        </div>
    </div>

    <div class="map-container-angular1" id="{{map.id}}"> </div>

</div>
