<div id="mapPosition" ng-bind="position">position: </div>
<button ng-click="initAnsyn('ansynMap')">init ansyn</button>
<button ng-click="initAnsyn('ansynMap2')">init ansyn2</button>
<button ng-click="loadOverlay('ansynMap')">load overlay for (map1)</button>
<button ng-click="setOverlays('ansynMap')">set overlays for (map1)</button>
<button ng-click="changeMapLayout('ansynMap2')">change map layout (map2)</button>
<button ng-click="changeWindowLayout('ansynMap')">change window layout (map1)</button>
<button ng-click="getMapPosition('ansynMap2')">get map position (map2)</button>
<button ng-click="setMapPosition('ansynMap2')">set map position (map2)</button>
<button ng-click="setMouseShadow('ansynMap')">set mouse shadow from random points (map1)</button>
<button ng-click="getMouseShadow('ansynMap')">get mouse shadow (map1)</button>

<div class="map-container-angular1" id="ansynMap"> </div>
<div class="map-container-angular1" id="ansynMap2"> </div>
